h1{
    color:chocolate;
}

ul h3{
    color: chartreuse;
}

figure h3{
    color: deeppink;
}

ul p{
    color: deeppink;
}

body{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container{
    width: 110px;
    margin: 0px auto;
    border: 1px red;
}

nav ul section li{
    background-color:chartreuse;
    height: 40px;
}

ul section li{
  float: left;
  list-style: none;
  margin: 65px;
}
.clearfix{clear: both;
}

p{
    color: chartreuse;
}