header h1{
    color:rgb(212,92,28)
}

ul h3{
    color: chartreuse;
}

figure h3{
    color: deeppink;
}

ul p{
    color: deeppink;
}

body{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container{
    display: flex;
    padding-left: 300px;
    justify-content: space-between;
    margin: 0px auto;
    border: 1px red;
    animation: float 2s linear infinite;
}
@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-1.5rem);
    }
}
#container #calaveras{
    padding-left: 50px;
}
nav ul section li{
    background-color:chartreuse;
    height: 40px;
    border-radius: 10px;
}
nav ul section li a{    
    text-decoration: none;
    font-size: 18px;
}
nav ul section li a:hover{    
    text-decoration: none;
    font-size: 22px;
    color:white;
    transition: all 300ms ease;
}


ul section li{
  float: left;
  list-style: none;
  margin: 65px;
}
.clearfix{clear: both;
}

p{
    color: chartreuse;
}
header {
    width: 100%;
}

footer ul .instagram a{
    display: flex;
}
footer ul .instagram a p{
    padding-left: 15px;
}
footer form{
    background-color: deeppink;
    width: 800px;
    height: 400px;
    margin-left: 125px;
    border-radius: 10px;
}
footer form .mb-3{
    display: grid;
    width: 600px;
    margin-left: 100px;
}
footer form .mb-3 label{
    font-weight: 500;
}
footer form .mb-3 #name{
    border-radius: 5px;
    border:none;
    height: 35px;
}
footer form button{
    width: 100px;
    margin-left: 600px;
}
main figure{
    padding-left: 100px;
}
main figure .columna1{
    width: 100%;
    display: flex;
}
main figure .columna2{
    width: 100%;
    display: flex;
}
main figure div h3{
    text-align: center;
}
main figure .columna1 .figura1{
    width: 350px;
    height: 350px;
    display: grid;
}
main figure .columna1 .figura2{
    display: grid;
    width: 350px;
    height: 350px;
    padding-left: 100px;
}
main figure .columna2 .figura3{
    width: 350px;
    height: 350px;
    
    display: grid;
}
main figure .columna2 .figura3 img{
    padding-left: 75px;
}
main figure .columna2 .figura4{
    width: 350px;
    height: 350px;
    padding-left: 100px;
    display: grid;
}